{% extends "issue_mapper/base.html" %}
{% load issue_mapper i18n %}
{% block title %}Submit {{ noun|title }}{% endblock %}
{% block body %}
    <div class="content">
        {% if form.errors %}
            <div class="alert alert-block fade in">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p>{% trans "Please correct the errors below." %}</p>
            </div>
        {% endif %}
        <form action="" method="post" id="submit-form">
            {% csrf_token %}
            <fieldset>
                <legend>Submit {{ noun|title }}</legend>
                <div class="row-fluid" id="search-results-section" style="display:none;">
                    <h4>Do any of these match your {{ noun }}?</h4>
                    <div id="search-results"></div>
                </div>
                <div class="row-fluid">
                    <div class="span12">{% block form-fields %}
                        {% for field in form %}
                            {% include 'registration/form_field.html' %}
                        {% endfor %}{% endblock %}
                        <div class="actions">
                            <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}">&nbsp;
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
{% block body-js %}
    <script type="text/javascript">
    (function($){
        $(document).ready(function(){
            $('#submit-form').find('input[type=text],textarea,select').filter(':visible:first').focus();
            $('#submit-form').find('input[type=text]').keydown($.debounce(500, function(){
                var q = {};
                var clear = true;
                var els = $('#submit-form').find('input[type=text]').filter(':visible');
                for(var i=0; i<els.length; i++){
                    var el = $(els[i]);
                    if(el.val()){
                        clear = false;
                        q[el.attr('name')] = el.val();
                    }
                }
                if(clear){
                    $('#search-results-section').slideUp();
                    return;
                }
                $.ajax({
                    url:'search/',
                    type:'GET',
                    data:q,
                    dataType:'html',
                    success:function(data){
                        if(data.length){
                            $('#search-results').html(data);
                            $('#search-results-section').slideDown();
                        }else{
                            $('#search-results-section').slideUp();
                        }
                    }
                });
            }));
        });
    })(jQuery);
    </script>
{% endblock body-js %}
