{% load issue_mapper urls %}
{% if full %}<div class="issue-container well shadow">{% endif %}
<div class="col-md-10">
    {% if item.object.url.og_image_thumbnail %}<div class="link-thumbnail" style="float:left;"><img
            src="{{ item.object.url.og_image_thumbnail.url }}"
            {#style="max-width:50px;max-height:50px;"#}
            class="shadow"
            alt=""
            title=""
        /></div>{% endif %}
    <div style="float:left; width:87%;">
        <div class="issue-link"><a href="{{ item.object.get_absolute_url }}" target="_blank" title="">{{ item.object.name|safe }}</a></div>
        <div class="issue-details">
            <span>{% if item.active %}Pending{% else %}Complete{% endif %} on {{ item.election_date|date:'DATE_FORMAT'|nbsp }}
            {% if not request.context and item.object.context %}
                in <a class="context-filter-link" href="/c/{{ item.object.context.slug }}/">{{ item.object.context.friendly_name|safe }}</a>{% endif %}
            </span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="issue-details">
        {#<span><a href="{% if person_filter %}{% url 'person_link' person_filter.slug item.object.id %}{% else %}{{ item.object.get_absolute_url }}{% endif %}"><b>{% if item.object.comments.count %}{{ item.object.comments.get_undeleted.count }}{% else %}0{% endif %}</b> comment{% plurals item.object.comments.get_undeleted %}</a></span>#}
    </div>
</div>
{% if full %}<div class="clearfix"></div></div>{% endif %}