{% load issue_mapper i18n %}
<div id="{{ uuid }}" class="reveal-modal">
    <fieldset>
        <legend>Add Quote from {{ obj.person.display_name }} for this URL</legend>
        <div class="popup-body">
            <form>
                <p>
                    <span class="comment-error" style="color:red;display:none;"></span>
                    <input name="url_id" type="hidden" value="{{ request.GET.url_id }}" />
                    <input name="person_id" type="hidden" value="{{ request.GET.person_id }}" />
                    <textarea class="form-control" name="text" placeholder="Enter quote here. Do not include quotation marks."></textarea>
                    <input class="form-control" name="dt" type="text" value="" placeholder="yyyy-mm-dd" /> <span class="muted">&nbsp;the date first published</span>
                </p>
                <div class="actions centered">
                    <input
                        type="submit"
                        class="btn btn-primary yes-button"
                        value="Add Quote" />&nbsp;<input
                        type="submit"
                        class="btn btn-default no-button"
                        value="Cancel" />
                </div>
            </form>
        </div>
    </fieldset>
    <a class="close-reveal-modal">&#215;</a>
    <script type="text/javascript">
    (function($){
        $(document).ready(function(){
            
            setTimeout(function(){
                // Must use timeout since element is unfocusable until
                // animation is complete.
                $('#{{ uuid }} textarea[name=text]').focus();
            }, 400);
            
            $('#{{ uuid }} form').submit(function(){
                var el = $(this);
                var url_id = $('#{{ uuid }} input[name=url_id]').val();
                var person_id = $('#{{ uuid }} input[name=person_id]').val();
                var text_el = $('#{{ uuid }} textarea[name=text]');
                var text = $.trim(text_el.val());
                if(!text){
                    text_el.addClass('error');
                    return false;
                }
                text_el.removeClass('error');
                var dt_el = $('#{{ uuid }} input[name=dt]');
                var dt = $.trim(dt_el.val());
                if(!window.issue_mapper.isValidDate(dt, 'yyyy-mm-dd')){
                    dt_el.addClass('error');
                    return false;
                }
                $('#{{ uuid }} .comment-error').hide();
                dt_el.removeClass('error');
                $.ajax({
                    url:'{% url "quote_add_ajax" %}',
                    data:{
                        url_id:url_id,
                        person_id:person_id,
                        dt:dt,
                        text:text,
                        resptype:'url_tags'
                    },
                    type:'GET',
                    dataType:'json',
                    success:function(data, textStatus, jqXHR){
                        if(data.success){
                            $('.quotes-list[data-url-id='+url_id+']').remove();
                            var content = $('<div/>').html(data.html).contents();
                            $('ul.tags[data-url-id='+url_id+']').replaceWith(content);
                            $('#{{ uuid }} .close-reveal-modal').click();
                        }else{
                            $('#{{ uuid }} .comment-error').html(data.message);
                            $('#{{ uuid }} .comment-error').show();
                        }
                        window.issue_mapper.bind_inline_link_voters();
                    }
                });
                return false;
            });
            
            $('#{{ uuid }} .no-button').click(function(e){
                e.preventDefault();
                $('#{{ uuid }} .close-reveal-modal').click();
                return false;
            });
        });
    })(jQuery);
    </script>
</div>